# Maven Build-Dateien
target/

# IntelliJ IDEA
.idea/
*.iml

# Java
*.class

# Logs
*.log

# Betriebssystem-Dateien
.DS_Store

# Temporäre Dateien
*.tmp

# TomEE / lokale Server-Dateien
apache-tomee/
tomee/
